<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "TmpData.io", suffix: " — TmpData.io" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex flex-col w-screen h-screen">
    <header class="flex w-full space-x-2 justify-center py-4 bg-slate-300 font-bold text-2xl">
      <a href="/">TmpData.IO</a>
    </header>
    <%= @inner_content %>
    <footer class="flex w-full bg-slate-300 py-1 justify-center mt-auto">
      <p class="text-black font-bold space-x-2"><a href="https://github.com/murilosr" target="_blank" class="font-normal">Murilo Rocha</a><span> 🞄 </span><a href="https://github.com/murilosr/tmpdata.io" target="_blank" class="font-normal">Github</a><span> 🞄 </span><span class="font-normal">2023</span></p>
    </footer>
  </body>
</html>
